# -----------------------
# GÜVENLİK (ÖNEMLİLER)
# -----------------------
# Firebase Ayar Dosyaları (Bunları asla yükleme)
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist

# Keystore ve İmza Dosyaları (Release alırken lazım olur, sakın yükleme)
*.jks
*.keystore
*.pem
*.p12
key.properties

# Çevresel Değişkenler
.env

# -----------------------
# FLUTTER & DART
# -----------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# -----------------------
# ANDROID
# -----------------------
android/gradle/wrapper/gradle-wrapper.properties
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
# Android derleme çıktıları
android/app/build/
android/app/release/
android/app/debug/

# -----------------------
# IOS & MACOS
# -----------------------
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/Runner.xcworkspace/xcuserdata/
macos/Pods/
macos/Runner.xcworkspace/xcuserdata/
.DS_Store

# -----------------------
# IDE & EDİTÖRLER
# -----------------------
# Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# -----------------------
# DİĞERLERİ
# -----------------------
doc/api/
coverage/
*.log
/ios/GoogleService-Info.plist
